header {
  display: flex;
  gap: 64px;
}

.gameboard {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  justify-content: center;
  margin: 0 auto;
  border: 1px solid hsl(0 0 16);
}

.cell {
  border: none;
  height: 80px;
  background-color: hsl(0 0 96);
  border: 1px solid hsl(0 0 16);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.cell:disabled {
  background-color: hsl(0 0 64);
}

.form {
  display: flex;
  flex-direction: column;
}
